<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chanho.task.mapper.BoardMapper">

    <select id="listBoards" resultType="com.chanho.task.dto.BoardResponseDto">
        SELECT
            cms__board.board_id,
            cms__board.name_ko
        FROM
            cms__board
    </select>

    <select id="listArticles" resultType="com.chanho.task.dto.ArticleListResponseDto">
        SELECT
            article.article_id,
            article.title,
            article.view_count,
            article.is_pinned,
            article.created_datetime
        FROM
            cms__article article
        WHERE
            article.board_id = #{boardId}
    </select>

    <select id="findThumbnails" resultType="com.chanho.task.entity.Image">
        SELECT
            i1.image_id,
            i1.article_id,
            i1.created_datetime,
            i1.url,
            i1.original_filename
        FROM
            cms__image i1
            INNER JOIN (SELECT
                            min(img.image_id) as image_id,
                            img.article_id
                        FROM
                            cms__image img
                        WHERE
                            img.article_id IN
                                <foreach collection="articles" item="article" open="(" separator="," close=")">
                                    #{article.articleId}
                                </foreach>
                        GROUP BY
                            img.article_id) as i2
                ON i1.image_id = i2.image_id
    </select>

    <insert id="createImage" useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO
            cms__image (url, original_filename)
        VALUES
            (#{imageDto.imageUrl},
             #{imageDto.imageFileName})
    </insert>

    <insert id="createArticle" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO
            cms__article (board_id, title, content_html, content_string)
        VALUES
            (#{article.boardId},
             #{article.title},
             #{article.contentHtml},
             #{article.contentString})
    </insert>

    <update id="updateImages">
        UPDATE
            cms__image
        SET
            article_id = #{articleId}
        WHERE
            image_id IN
                <foreach collection="imageIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
    </update>

    <select id="retrieveArticle" resultType="com.chanho.task.dto.ArticleResponseDto">
        SELECT
            cms__article.article_id,
            cms__article.board_id,
            cms__article.created_datetime,
            cms__article.is_pinned,
            cms__article.view_count,
            cms__article.title,
            cms__article.content_html,
            cms__article.content_string,
            cms__board.name_ko
        FROM
            cms__article
                INNER JOIN cms__board
                    ON cms__article.board_id = cms__board.board_id
        WHERE
            cms__article.article_id = #{articleId}
    </select>

    <select id="findImages" resultType="String">
        SELECT
            image.url
        FROM
            cms__image image
        WHERE
            image.article_id = #{articleId}
    </select>

    <update id="increaseViewcount">
        UPDATE cms__article
        SET
            view_count = view_count + 1
        WHERE
            article_id = #{articleId}
    </update>

    <delete id="deleteArticle">
        DELETE
        FROM
            cms__article
        WHERE
            article_id = #{articleId}
    </delete>

    <select id="searchBoards" resultType="com.chanho.task.dto.ArticleListResponseDto">
        SELECT
            article.article_id,
            article.title,
            article.view_count,
            article.is_pinned,
            article.created_datetime
        FROM
            cms__article article
        WHERE
            article.board_id IN (SELECT
                                    cms__board.board_id
                                 FROM
                                    cms__board
                                 WHERE
                                    cms__board.name_ko LIKE CONCAT('%', #{boardName}, '%'))
    </select>

    <select id="searchArticles" resultType="com.chanho.task.dto.ArticleListResponseDto">
        SELECT
            article.article_id,
            article.title,
            article.view_count,
            article.is_pinned,
            article.created_datetime
        FROM
            cms__article article
        WHERE
             article.title LIKE CONCAT('%', #{keyword}, '%')
          OR article.content_string LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="searchArticlesBetween" resultType="com.chanho.task.dto.ArticleListResponseDto">
        SELECT
            article.article_id,
            article.title,
            article.view_count,
            article.is_pinned,
            article.created_datetime
        FROM
            cms__article article
        WHERE
            DATE(article.created_datetime)
            BETWEEN
                STR_TO_DATE(#{date.from}, '%Y-%m-%d') AND STR_TO_DATE(#{date.until}, '%Y-%m-%d')
    </select>
</mapper>
